#page {
  width: 80%;
  margin: auto;
}

#header, #footer {
  background-color: #7499d4;
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  padding: 40px 0;
  position: relative;
  width: 100%;
}

#header h1, #footer p, #header h3 {
  margin: 0;
  position: relative;
  z-index: 1;
  color: white;
  text-shadow: 1px 1px 2px black;
}

#header h1 {
  font-size: 50px;
  font-family: Arial, sans-serif;
  font-weight: bold;
}

#container {
  display: flex;
}

#left-menu {
  width: 200px;
  background-color: #f4f4f4;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

#main-content {
  flex-grow: 1;
  padding: 0 20px 20px 20px;
  border: 1px solid #f2f2f2;
  overflow-x: auto; /* Allow horizontal scrolling if necessary */
}

#content-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  font-family: Arial, sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: #7499d4;
}

#content-header h2 {
  margin: 0;
}

.search-bar {
  display: flex;
  align-items: center;
}

#content-header input {
  padding: 5px;
  font-size: 16px;
  border: 1px solid #f2f2f2;
  border-radius: 5px; /* Rounded corners for the input */
}

#content-header button {
  padding: 5px 10px;
  font-size: 16px;
  margin-left: 10px;
  border: 1px solid #f2f2f2;
  background-color: #7499d4;
  color: white;
  cursor: pointer;
  border-radius: 5px; /* Rounded corners for the button */
}

.table-container {
  width: 100%;
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid #ddd;
}

th, td {
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

.action-buttons button {
  margin-right: 5px;
  border-radius: 5px; /* Rounded corners for the action buttons */
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.pagination button {
  padding: 5px 10px;
  font-size: 16px;
  margin: 0 5px;
  border: 1px solid #f2f2f2;
  background-color: #7499d4;
  color: white;
  cursor: pointer;
  border-radius: 5px; /* Rounded corners for the pagination buttons */
}

.pagination .page-number {
  background-color: #f4f4f4;
  color: #333;
  border-radius: 5px; /* Rounded corners for the pagination page numbers */
}
