<expenses-crud-header
  (searchChanged)="onSearchChanged($event)"
  (addExpense)="openModal('add')"
>
</expenses-crud-header>
<expenses-crud-table
  [expensesList]="expensesList"
  (sortChanged)="onSortChanged($event.sortColumns, $event.sortDirections)"
  (viewExpense)="openModal('view', $event)"
  (editExpense)="openModal('edit', $event)"
  (deleteExpense)="openModal('delete', $event)"
></expenses-crud-table>
<expenses-crud-pagination
  [totalElements]="totalElements"
  [size]="size"
  [pageNumber]="pageNumber"
  (pageChanged)="onPageChanged($event)"
></expenses-crud-pagination>

<expenses-crud-form
  *ngIf="showModal"
  [showModal]="showModal"
  [mode]="modalMode"
  [expense]="selectedExpense"
  [errorMessage]="errorMessage"
  (close)="closeModal()"
  (save)="saveExpense($event)"
  (delete)="deleteExpense($event)"
></expenses-crud-form>
