<div class="modal-backdrop" *ngIf="showModal" (click)="closeModal()"></div>
<div class="modal" tabindex="-1" [class.show]="showModal" *ngIf="showModal">
  <div class="modal-dialog" (click)="$event.stopPropagation()">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ getTitle() }}</h5>
        <button type="button" class="btn-close" (click)="closeModal()">
          ×
        </button>
      </div>
      <div class="modal-body">
        <div
          *ngIf="errorMessage && errorMessage.length"
          class="alert alert-danger"
        >
          <div *ngFor="let error of errorMessage">{{ error }}</div>
        </div>
        <form *ngIf="mode !== 'delete'" [formGroup]="form">
          <input
            type="hidden"
            id="id"
            formControlName="id"
            class="form-control"
          />
          <div class="form-group">
            <label for="name">Name</label>
            <input
              type="text"
              id="name"
              formControlName="name"
              class="form-control"
            />
            <div
              *ngIf="form.get('name')?.touched && form.get('name')?.invalid"
            >
              <small
                class="text-danger"
                *ngIf="form.get('name')?.errors?.['required']"
                >Name is required.</small
              >
            </div>
          </div>
          <div class="form-group">
            <label for="description">Description</label>
            <textarea
              id="description"
              formControlName="description"
              class="form-control"
            ></textarea>
          </div>
          <div class="form-group">
            <label for="currency">Currency</label>
            <select
              id="currency"
              formControlName="currency"
              class="form-control"
            >
              <option *ngFor="let currency of currencies" [value]="currency">
                {{ currency }}
              </option>
            </select>
            <div
              *ngIf="
                form.get('currency')?.touched && form.get('currency')?.invalid
              "
            >
              <small
                class="text-danger"
                *ngIf="form.get('currency')?.errors?.['required']"
                >Currency is required.</small
              >
            </div>
          </div>
        </form>
        <div *ngIf="mode === 'delete'" class="alert alert-warning">
          Are you sure you want to delete the wallet named
          <strong>{{ wallet?.name }}</strong
          >?
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeModal()">
          Close
        </button>
        <button
          type="submit"
          (click)="onSubmit()"
          class="btn btn-primary"
          *ngIf="mode === 'add' || mode === 'edit'"
        >
          {{ mode === 'add' ? 'Add' : 'Update' }}
        </button>
        <button
          type="button"
          class="btn btn-primary"
          (click)="onSubmit()"
          *ngIf="mode === 'delete'"
        >
          Delete
        </button>
      </div>
    </div>
  </div>
</div>
