<div class="modal-backdrop" *ngIf="showModal" (click)="closeModal()"></div>
<div class="modal" tabindex="-1" [class.show]="showModal" *ngIf="showModal">
  <div class="modal-dialog" (click)="$event.stopPropagation()">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ getTitle() }}</h5>
        <button type="button" class="btn-close" (click)="closeModal()">
          ×
        </button>
      </div>
      <div class="modal-body">
        <div
          *ngIf="errorMessage && errorMessage.length"
          class="alert alert-danger"
        >
          <div *ngFor="let error of errorMessage">{{ error }}</div>
        </div>
        <form *ngIf="mode !== 'delete'" [formGroup]="form">
          <input
            type="hidden"
            id="id"
            formControlName="id"
            class="form-control"
          />
          <div class="form-group">
            <label for="title">Title</label>
            <input
              type="text"
              id="title"
              formControlName="title"
              class="form-control"
            />
            <div
              *ngIf="form.get('title')?.touched && form.get('title')?.invalid"
            >
              <small
                class="text-danger"
                *ngIf="form.get('title')?.errors?.['required']"
                >Title is required.</small
              >
            </div>
          </div>
          <div class="form-group">
            <label for="description">Description</label>
            <textarea
              id="description"
              formControlName="description"
              class="form-control"
            ></textarea>
          </div>
          <div class="form-group">
            <label for="amount">Amount</label>
            <input
              type="number"
              id="amount"
              formControlName="amount"
              class="form-control"
              step="0.01"
            />
            <div
              *ngIf="form.get('amount')?.touched && form.get('amount')?.invalid"
            >
              <small
                class="text-danger"
                *ngIf="form.get('amount')?.errors?.['required']"
                >Amount is required.</small
              >
              <small
                class="text-danger"
                *ngIf="form.get('amount')?.errors?.['min']"
                >Amount must be greater than or equal to 0.01.</small
              >
            </div>
          </div>
          <div class="form-group">
            <label for="currency">Currency</label>
            <select
              id="currency"
              formControlName="currency"
              class="form-control"
            >
              <option *ngFor="let currency of currencies" [value]="currency">
                {{ currency }}
              </option>
            </select>
            <div
              *ngIf="
                form.get('currency')?.touched && form.get('currency')?.invalid
              "
            >
              <small
                class="text-danger"
                *ngIf="form.get('currency')?.errors?.['required']"
                >Currency is required.</small
              >
            </div>
          </div>
          <div class="form-group">
            <label for="wallet">Wallet</label>
            <select id="wallet" formControlName="wallet" class="form-control">
              <option *ngFor="let wallet of wallets" [value]="wallet.id">
                {{ wallet.name }}
              </option>
            </select>
            <div
              *ngIf="form.get('wallet')?.touched && form.get('wallet')?.invalid"
            >
              <small
                class="text-danger"
                *ngIf="form.get('wallet')?.errors?.['required']"
                >Wallet is required.</small
              >
            </div>
          </div>

          <div class="form-group">
            <label for="categories">Categories</label>
            <select
              id="categories"
              formControlName="categories"
              class="form-control"
              multiple
            >
              <option *ngFor="let category of categories" [value]="category.id">
                {{ category.name }}
              </option>
            </select>
            <div
              *ngIf="
                form.get('categories')?.touched &&
                form.get('categories')?.invalid
              "
            >
              <small
                class="text-danger"
                *ngIf="form.get('categories')?.errors?.['required']"
                >At least one category is required.</small
              >
            </div>
          </div>
        </form>

        <div *ngIf="mode === 'delete'" class="alert alert-warning">
          Are you sure you want to delete the expense titled
          <strong>{{ expense?.title }}</strong
          >?
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeModal()">
          Close
        </button>
        <button
          type="submit"
          (click)="onSubmit()"
          class="btn btn-primary"
          *ngIf="mode === 'add' || mode === 'edit'"
        >
          {{ mode === 'add' ? 'Add' : 'Update' }}
        </button>
        <button
          type="button"
          class="btn btn-primary"
          (click)="onSubmit()"
          *ngIf="mode === 'delete'"
        >
          Delete
        </button>
      </div>
    </div>
  </div>
</div>
