.crud-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  font-family: Arial, sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: #7499d4;
}

.crud-header h2 {
  margin: 0;
}

.crud-header .search-bar {
  display: flex;
  align-items: center;
}

.crud-header input {
  padding: 5px;
  font-size: 16px;
  margin-left: 10px;
  border: 1px solid #f2f2f2;
  border-radius: 5px; /* Rounded corners for the input */
}

.crud-header button {
  padding: 5px 10px;
  font-size: 16px;
  margin-left: 10px;
  border: 1px solid #f2f2f2;
  background-color: #7499d4;
  color: white;
  cursor: pointer;
  border-radius: 5px; /* Rounded corners for the button */
}

.crud-header button:hover {
  background-color: #eaeaea;
  color: #333;
}
