<table class="crud-table">
  <thead>
  <tr>
    <th
      class="id sortable"
      (click)="changeSort('id')"
      [ngClass]="{
          sortAsc: sortColumn === 'id' && sortDirection === 'asc',
          sortDesc: sortColumn === 'id' && sortDirection === 'desc'
        }"
    >
      ID
    </th>
    <th
      class="title sortable"
      (click)="changeSort('title')"
      [ngClass]="{
          sortAsc: sortColumn === 'title' && sortDirection === 'asc',
          sortDesc: sortColumn === 'title' && sortDirection === 'desc'
        }"
    >
      Title
    </th>
    <th
      class="description sortable"
      (click)="changeSort('description')"
      [ngClass]="{
          sortAsc: sortColumn === 'description' && sortDirection === 'asc',
          sortDesc: sortColumn === 'description' && sortDirection === 'desc'
        }"
    >
      Description
    </th>
    <th
      class="amount sortable"
      (click)="changeSort('amount')"
      [ngClass]="{
          sortAsc: sortColumn === 'amount' && sortDirection === 'asc',
          sortDesc: sortColumn === 'amount' && sortDirection === 'desc'
        }"
    >
      Amount
    </th>
    <th
      class="currency sortable"
      (click)="changeSort('currency')"
      [ngClass]="{
          sortAsc: sortColumn === 'currency' && sortDirection === 'asc',
          sortDesc: sortColumn === 'currency' && sortDirection === 'desc'
        }"
    >
      Currency
    </th>
    <th
      class="createdAt sortable"
      (click)="changeSort('createdAt')"
      [ngClass]="{
          sortAsc: sortColumn === 'createdAt' && sortDirection === 'asc',
          sortDesc: sortColumn === 'createdAt' && sortDirection === 'desc'
        }"
    >
      Created At
    </th>
    <th
      class="updatedAt sortable"
      (click)="changeSort('updatedAt')"
      [ngClass]="{
          sortAsc: sortColumn === 'updatedAt' && sortDirection === 'asc',
          sortDesc: sortColumn === 'updatedAt' && sortDirection === 'desc'
        }"
    >
      Updated At
    </th>
    <th class="actions">Actions</th>
  </tr>
  </thead>
  <tbody>
  <ng-container *ngIf="expensesList.length; else noExpenses">
    <tr *ngFor="let expense of expensesList; let i = index">
      <td>{{ expense.id }}</td>
      <td>{{ expense.title }}</td>
      <td>{{ expense.description }}</td>
      <td>{{ expense.amount / 100 | number: '1.2-2' }}</td>
      <td>{{ expense.currency }}</td>
      <td>{{ expense.createdAt }}</td>
      <td>{{ expense.updatedAt }}</td>
      <td class="actions">
        <button (click)="view(expense)" class="btn btn-icon" title="View">
          <ng-icon name="heroEye"></ng-icon>
        </button>
        <button (click)="edit(expense)" class="btn btn-icon" title="Edit">
          <ng-icon name="heroPencilSquare"></ng-icon>
        </button>
        <button (click)="delete(expense)" class="btn btn-icon" title="Delete">
          <ng-icon name="heroTrash"></ng-icon>
        </button>
      </td>
    </tr>
  </ng-container>

  <ng-template #noExpenses>
    <tr>
      <td colspan="8" style="text-align: center">No Expenses</td>
    </tr>
  </ng-template>
  </tbody>
</table>
